.navbar {
  background: #eee;
  text-align: center;
}

.main {
  padding-top: 2rem;
}

.avatar {
  display: inline-block;
  width: 3rem;
}

.list-item .avatar {
  margin-right: 1rem;
}

.avatar img {
  border-radius: 50%;
}

.list-item-text {
  position: relative;
  bottom: 1rem;
}

.profile-header {
  text-align: center;
  margin: 5rem auto;
}

.profile-tags {
  padding: 1rem;
}

.tag {
  display: inline-block;
  margin: 0.2rem 0.5rem;
}

a.tag {
  color: #777;
  text-decoration: none;
}
